img.img, i.img {
  width: 38px !important;
  height: 38px !important;
  margin-right: 5px !important;
}

td.ct-name {
	width: 186px !important;

}

button[class*='dropDown-'] {
	margin-top: 5px !important;
	
 }

a.folder-appname {
  font-size: 15px !important;
  font-weight: bold !important;

}

td.updatecolumn {
	width: 90px !important;
	padding: 4px 4px 4px 0px !important;
}

i.fa-globe {
	font-size: 18px !important;
	color: #8c8c8c  !important;
}

i.fa-bars {
	font-size: 18px !important;
	color: #8c8c8c  !important;
	padding-right: 3px !important;
/*	border-right: 1px solid #dddddd  !important; */
	
}

i.red-text {
  color: #eba500  !important;
    font-size: 16px !important;
}

span.state {
  font-size: 0px !important;
	margin-left: 0px !important;
}


td.ct-name span.state {
	font-size: 1.1rem !important;
	margin-left: 7px !important;

}

.folder-preview-divider {
  border-right: 1px solid #e1dfdf  !important;
}

.folder-preview-wrapper {
  margin-top: 4px !important;
}